html,
body {
  height: 100%;

}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #232020;
}

.form-signin {
  width: 100%;
  max-width: 480px;
  border-radius: 10px;
  padding: 55px;
  margin: auto;
  background-color: #000;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.edb{
  max-width: 300px;
  margin: auto;
}

.top {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle{
  border-radius: 0
}
.button{
  background-color: #23A25B;
}
.bottom {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
